<p style="color: green"><%= notice %></p>

<%= render @bibliotecario %>

<div>
  <%= link_to "Edit this bibliotecario", edit_bibliotecario_path(@bibliotecario) %> |
  <%= link_to "Back to bibliotecarios", bibliotecarios_path %>

  <%= button_to "Destroy this bibliotecario", @bibliotecario, method: :delete %>
</div>
