<%= form_with(model: reserva) do |form| %>
  <% if reserva.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reserva.errors.count, "error") %> prohibited this reserva from being saved:</h2>

      <ul>
        <% reserva.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :bibliotecario_id, style: "display: block" %>
    <%= collection_select(:reserva, :bibliotecario_id, @optionsForBibli, :id, :nome)%>
  </div>

  <div>
    <%= form.label :nomeusuario, style: "display: block" %>
    <%= form.text_field :nomeusuario %>
  </div>

  <div>
    <%= form.label :livro_id, style: "display: block" %>
    <%= collection_select(:reserva, :livro_id, @optionsForBooks, :id, :nomelivro)%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
