<div id="<%= dom_id reserva %>">
  <p>
    <strong>Bibliotecario:</strong>
    <%= reserva.bibliotecario_id %>
  </p>

  <p>
    <strong>Nomeusuario:</strong>
    <%= reserva.nomeusuario %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= reserva.livro_id %>
  </p>

<p><%= link_to "Voltar", home_index_path %></p>

</div>
