<div id="<%= dom_id livro %>">
  <p>
    <strong>Autor:</strong>
    <%= livro.autor %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= livro.categoria %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= livro.quantidade %>
  </p>

  <p>
    <strong>Nomelivro:</strong>
    <%= livro.nomelivro %>
  </p>

</div>
